manifest {
    name = 'flowproof/assembly-ont'
    description = 'Oxford Nanopore long-read de novo assembly'
    version = '0.1.0'
    nextflowVersion = '>=23.10.0'
}

process {
    cpus = 2
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
        process.executor = 'local'
    }
}
